*{
    box-sizing: border-box;    
}

body{
 background-color: rgb(243, 243, 243);
 margin: .5em;
 text-align: center; 
 font-family: 'Yantramanav', sans-serif;
 color: rgb(128, 127, 127);
}

header{
    display: flex;
    flex-direction: column;
    padding: .5em;  
    margin: auto;
    margin-bottom: 40px;
}

header img{
    width: 80%;
    align-self: center;
    padding: 5px;
    margin: 40px 0 20px 0;
}

nav li{
  background-color: white;
  padding: .8em;
  margin: 5px;
  text-align: center;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

nav li:hover{
    background-color: rgb(228, 228, 228);
}

ul{
    list-style: none; 
    padding: 0;  
   }

a{
    color: rgb(59, 59, 59);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

header p{
    font-size: 24px;
}

h1, h2{
    color: rgb(90, 90, 90);
}
h2{    
    font-size: 18px;;
}

#introduction{
    display: flex;
    flex-direction: column;
    margin: 20px;
   }

main{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    
}

#portfolio, #skills{
    background-color: rgb(255, 255, 255);
    padding: 1.5em;
    }

article{
    padding: 5px;
    margin-top: 20px;
 }

article img{
  width: 100%;
}

.section-heading{
margin-bottom: 40px;
font-family: 'Source Sans Pro', sans-serif;
text-transform: uppercase;
color: rgb(59, 59, 59);
}

.skills{
    max-width: 300px;
}

#contact{
    padding: .5em;
    margin-top: 40px;
    max-width: 500px;
    align-self: center;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-top: 2px solid rgb(240, 237, 237);
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(49, 49, 49);
    
}

#footer-nav{
    display: none;

}

@media (min-width: 768px){

    #top-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #introduction{
        flex-direction: row-reverse;
        text-align: start;
    }
    header img{
        margin: 0 0 0 20px;
    }

    #portfolio-articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    article{
        width: 50%;       
     }

    #footer-nav{
        display: flex;
    }

    #footer-nav ul{
        display: flex;
        justify-content: space-around;
    }

    nav ul{
        display: flex;
     }

    nav li{
        background: none;
    }

    #back-to-top{
        display: none;
    }
}

@media (min-width: 1024px){

    #top-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
        }   

    #portfolio-articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    article{
        width: 33%;       
        
    }

   

   
}